<h1>All Events</h1>
<p>
  <% @events.each do |event|%>
        <%= link_to event.title, event_path(event) %> | <%= link_to event.competition.name, competition_path(event.competition) %> <br>
        <%= event.description %> <br>
        <br>
  <%end%>
</p>
